<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diary.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @diary.start_time %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
